# Facets of Systems Science
## Chapter 3, Problem 1
## Reductionism

In [9]:
import itertools
import pandas as pd

In this example there are attributes of a computer processing system being observed: `CH1`, `CH2`, and `CPU`, each of which can either be at high (`H`) or low (`L`) processing power. Assume that over a period of monitoring, the following combinations of `CH1`, `CH2`, `CPU` are observed:

| `CH1` | `CH2` | `CPU` |
|--|--|--|
| `L` | `L` | `L` |
| `L` | `H` | `H` |
| `H` | `L` | `H` |
| `H` | `H` | `L` |

In [68]:
perm = [list(i) for i in list(itertools.product([0,1], repeat=8))]

In [69]:
print("First 5 permutations of CH1-CH2-CPU")
perm[:5]

First 5 permutations of CH1-CH2-CPU

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 0, 1, 0, 0]]

In [70]:
# Create a DataFrame with column labels from permutation dataset
df = pd.DataFrame(perm)
# df["perm"].to_list()
df.columns = ['LLL', 'LLH', 'LHL', 'LHH', 'HLL', 'HLH', 'HHL', 'HHH']
df.head()

   LLL  LLH  LHL  LHH  HLL  HLH  HHL  HHH
0    0    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0    1
2    0    0    0    0    0    0    1    0
3    0    0    0    0    0    0    1    1
4    0    0    0    0    0    1    0    0

In [71]:
# Pairwise observations: CH1-CH2
df['CH1_CH2_LL'] = ''
df['CH1_CH2_LH'] = ''
df['CH1_CH2_HL'] = ''
df['CH1_CH2_HH'] = ''

# Pairwise observations: CH1-CPU
df['CH1_CPU_LL'] = ''
df['CH1_CPU_LH'] = ''
df['CH1_CPU_HL'] = ''
df['CH1_CPU_HH'] = ''

# Pairwise observations: CH2-CPU
df['CH2_CPU_LL'] = ''
df['CH2_CPU_LH'] = ''
df['CH2_CPU_HL'] = ''
df['CH2_CPU_HH'] = ''

In [72]:
df.head()

,LLL,LLH,LHL,LHH,HLL,HLH,HHL,HHH,CH1_CH2_LL,CH1_CH2_LH,CH1_CH2_HL,CH1_CH2_HH,CH1_CPU_LL,CH1_CPU_LH,CH1_CPU_HL,CH1_CPU_HH,CH2_CPU_LL,CH2_CPU_LH,CH2_CPU_HL,CH2_CPU_HH
0,0,0,0,0,0,0,0,0,,,,,,,,,,,,
1,0,0,0,0,0,0,0,1,,,,,,,,,,,,
2,0,0,0,0,0,0,1,0,,,,,,,,,,,,
3,0,0,0,0,0,0,1,1,,,,,,,,,,,,
4,0,0,0,0,0,1,0,0,,,,,,,,,,,,

For each permutation of the CH1-CH2-CPU ternary relation, match the CH1 and CH2 observation to a pattern match for the binary CH1-CH2 relation.

In [73]:
# CH1-CH2 observed Low, Low
for index, row in df.iterrows():
    if row["LLL"] == 1 or row["LLH"] == 1:
        df.at[index, "CH1_CH2_LL"] = 1

# CH1-CH2 observed Low, High
for index, row in df.iterrows():
    if row["LHL"] == 1 or row["LHH"] == 1:
        df.at[index, "CH1_CH2_LH"] = 1

# CH1-CH2 observed High, Low
for index, row in df.iterrows():
    if row["HLL"] == 1 or row["HLH"] == 1:
        df.at[index, "CH1_CH2_HL"] = 1

# CH1-CH2 observed High, High
for index, row in df.iterrows():
    if row["HHL"] == 1 or row["HHH"] == 1:
        df.at[index, "CH1_CH2_HH"] = 1

In [74]:
# CH1-CPU observed Low, Low
for index, row in df.iterrows():
    if row["LLL"] == 1 or row["LHL"] == 1:
        df.at[index, "CH1_CPU_LL"] = 1

# CH1-CPU observed Low, High
for index, row in df.iterrows():
    if row["LLH"] == 1 or row["LHH"] == 1:
        df.at[index, "CH1_CPU_LH"] = 1

# CH1-CPU observed High, Low
for index, row in df.iterrows():
    if row["HLL"] == 1 or row["HHL"] == 1:
        df.at[index, "CH1_CPU_HL"] = 1

# CH1-CPU observed High, High
for index, row in df.iterrows():
    if row["HLH"] == 1 or row["HHH"] == 1:
        df.at[index, "CH1_CPU_HH"] = 1

In [75]:
# CH2-CPU observed Low, Low
for index, row in df.iterrows():
    if row["LLL"] == 1 or row["HLL"] == 1:
        df.at[index, "CH2_CPU_LL"] = 1

# CH2-CPU observed Low, High
for index, row in df.iterrows():
    if row["LLH"] == 1 or row["HLH"] == 1:
        df.at[index, "CH2_CPU_LH"] = 1

# CH2-CPU observed High, Low
for index, row in df.iterrows():
    if row["HHL"] == 1 or row["LHL"] == 1:
        df.at[index, "CH2_CPU_HL"] = 1

# CH2-CPU observed High, High
for index, row in df.iterrows():
    if row["LHH"] == 1 or row["HHH"] == 1:
        df.at[index, "CH2_CPU_HH"] = 1

In [76]:
# Replace blank values with 0
df.replace('', 0, inplace=True)

In [77]:
binary_relation_cols = list(df.columns)[8:]
df['total'] = df[binary_relation_cols].sum(axis=1)

In [78]:
df["total"].max()

12

| `CH1` | `CH2` | `CPU` |
|--|--|--|
| `L` | `L` | `L` |
| `L` | `H` | `H` |
| `H` | `L` | `H` |
| `H` | `H` | `L` |

In [82]:
df[df["total"] == 12]

,LLL,LLH,LHL,LHH,HLL,HLH,HHL,HHH,CH1_CH2_LL,CH1_CH2_LH,...,CH1_CH2_HH,CH1_CPU_LL,CH1_CPU_LH,CH1_CPU_HL,CH1_CPU_HH,CH2_CPU_LL,CH2_CPU_LH,CH2_CPU_HL,CH2_CPU_HH,total
105,0,1,1,0,1,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
107,0,1,1,0,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
109,0,1,1,0,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
111,0,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
121,0,1,1,1,1,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
123,0,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
125,0,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
126,0,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
127,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
150,1,0,0,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
151,1,0,0,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
158,1,0,0,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
159,1,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
182,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
183,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
189,1,0,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
190,1,0,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
191,1,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
214,1,1,0,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
215,1,1,0,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
219,1,1,0,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
222,1,1,0,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
223,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
231,1,1,1,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
233,1,1,1,0,1,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
235,1,1,1,0,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
237,1,1,1,0,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
239,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
246,1,1,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
247,1,1,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
249,1,1,1,1,1,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
251,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
253,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,12
254,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
255,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12

In [81]:
df[(df["LLL"] == 1) & (df["LHH"] == 1) & (df["HLH"] == 1) & (df["HHL"] == 1)]

,LLL,LLH,LHL,LHH,HLL,HLH,HHL,HHH,CH1_CH2_LL,CH1_CH2_LH,...,CH1_CH2_HH,CH1_CPU_LL,CH1_CPU_LH,CH1_CPU_HL,CH1_CPU_HH,CH2_CPU_LL,CH2_CPU_LH,CH2_CPU_HL,CH2_CPU_HH,total
150,1,0,0,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
151,1,0,0,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
158,1,0,0,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
159,1,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
182,1,0,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
183,1,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
190,1,0,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
191,1,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
214,1,1,0,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
215,1,1,0,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
222,1,1,0,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
223,1,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
246,1,1,1,1,0,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
247,1,1,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12
254,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,12
255,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,12